<!-- index.html -->

<!DOCTYPE html>
<html>
<head> 
    <title>Database Tables</title>
</head>
<body>
    <h1>Reports</h1>
    <table>
        <tr>
            <th>Address</th>
            <th>Date</th>
            <th>Coordinates</th>
            <th>Image</th>
        </tr>
        {% for report in report_data %}
        <tr>
            <td>{{ report.Address }}</td>
            <td>{{ report.Date }}</td>
            <td>{{ report.Coordinates }}</td>
            <td>{{ report.Image }}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Units</h1>
    <table>
        <tr>
            <th>Address Range Low</th>
            <th>Address Range High</th>
            <th>Severity Score</th>
            <th>Images</th>
        </tr>
        {% for unit in unit_data %}
        <tr>
            <td>{{ unit.Address_range_low }}</td>
            <td>{{ unit.Address_range_high }}</td>
            <td>{{ unit.severity }}</td>
            <td>{{ unit.images }}</td>
            <button onclick="onButtonClick('{{ unit.id }}')">Update Unit Frequency</button>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

<script>
function onButtonClick(unit_id) {
    console.log('Button clicked');
    console.log("Unit ID: " + unit_id);
    jQuery.ajax({
        url: '/update_unit_frequency',
        type: 'POST',
        data: {
            unit_id: unit_id
        },
        success: function(response) {
            console.log('Response: ' + response);
        },
        error: function(error) {
            console.log('Error: ' + error);
        }
    });
}
</script>